* {
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}
.app_background {
  margin: 0;
  height: 100vh;
  background-color: #201b25;
  background-image: url('/src/img/bg-stars.svg');
}
h1 {
  margin: 0;
  height: 25vh;
  line-height: 25vh;
  text-align: center;
  font-size: 14px;
  color: white;
  letter-spacing: 0.35em;
}
